/* Transparent Dark red background */
.custom-navbar {
    background: transparent;
    color: #8B0000;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1500;
    font-family: 'Lexend', serif;
    font-size: large;
}

/* Default link style */
.navbar .nav-link {
    position: relative;
    transition: color 1.0s ease;
}

/* Hover effect */
.navbar .nav-link:hover {
    color: goldenrod !important;
}

/* Gold underline animation */
.navbar .nav-link::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: goldenrod;
    left: 0;
    bottom: 0;
    transition: width 1.0s ease;
}

.navbar .nav-link:hover::after {
    width: 100%;
}

.hero-section{
    height: 100vh;
    background:
        linear-gradient(rgba(150, 0, 0, 0.7),rgba(150, 0, 0, 0.7)),
        url(background.jpg) center center/cover no-repeat ;
    position: relative;
    padding-top: 100px;
}

.food-img{
    max-width: 450px;
}

.navbar-brand{
    font-size: 40px;
    font-family: 'Dancing Script', serif;

}
.py-5{
    background-color: whitesmoke;
}

.feature-box{
    background-color: #f8f9fa;
    transition: all 0.5s ease;
    cursor: pointer;
}

/*Hover Effect*/
.feature-box:hover{
   background-color: #8B0000;
    transform: translateY(-8px);
    box-shadow: 0 10px 30px rgba(212, 175, 55, 0.5);
}

/*Changing icon + text color when hovered*/
.feature-box:hover i,
.feature-box:hover h5,
.feature-box:hover p{
    color: white;
}

.about-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 8px;
}

.experience-box {
  border-left: 6px solid #FEA116;
  padding-left: 20px;
}

h4{
    font-family: 'Lobster Two', serif;
    color: #8B0000;;
}
h2{
    font-family: 'Fredoka', serif;
    font-weight: 700;
    color: goldenrod;
}

h1{
    font-weight: 700;
    font-family: 'Fredoka', serif;
    color: black;
}

.menu-tabs {
    gap: 40px;
}

.tab-item {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding-bottom: 10px;
    position: relative;
    transition: 0.3s;
}

.tab-item i {
    font-size: 22px;
    color: #8B0000;
}

.tab-item h6 {
    margin: 0;
    font-weight: 600;
}

.tab-item small {
    display: block;
    font-size: 12px;
    color: gray;
}

.tab-item::after {
    content: "";
    position: absolute;
    width: 0%;
    height: 3px;
    background: #d4af37;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.tab-item:hover::after,
.tab-item.active::after {
    width: 100%;
}

.tab-item:hover h6,
.tab-item.active h6 {
    color: #d4af37;
}

.fw-bold{
    padding-left: 10px;
}

.chef-card {
    background: #fff;
    transition: transform 0.3s ease;
    border-radius: 8px;
    overflow: hidden;
}

.chef-card:hover {
    transform: translateY(-10px); /* Slight lift effect */
}

.image-wrapper {
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.image-wrapper img {
    transition: transform 0.3s ease;
}

/* Social Overlay Interaction */
.social-overlay {
    position: absolute;
    bottom: -50px; /* Start hidden below the circle */
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    gap: 10px;
    opacity: 0;
    transition: all 0.3s ease;
}

.chef-card:hover .social-overlay {
    bottom: 20px; /* Slide up into view */
    opacity: 1;
}

.social-overlay a {
    width: 35px;
    height: 35px;
    background: #FEA116; /* Theme Orange */
    color: white;
    border-radius: 50% 50% 0 0; /* Match the rounded style */
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.social-overlay a:hover {
    background: #0F172B; /* Dark Blue on hover */
}
.footer-section {
  background-color: #8B0000;
}

.footer-title {
  color: goldenrod; /* deep red */
  font-weight: 600;
  margin-bottom: 20px;
}

.footer-section a {
  color: black;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
  transition: 0.3s;
}

.footer-section a:hover {
  color: #8B0000;
}

.footer-section p {
  color: black;
  margin-bottom: 8px;
}

hr {
  border-color: rgba(255,255,255,0.1);
}

html{
    scroll-behavior: smooth;
}

body {
    padding-top: 90px; /* adjust based on your navbar height */
}

/*.navbar {
    background: rgba(139, 0, 0, 0.75) !important;
    transition: all 0.4s ease;
    margin: 0px;
    background: transparent;
}*/

/*.custom-navbar.scrolled {
    background: #8B0000 !important;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
}*/

